*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.bulb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulb button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.image-off{
    margin-left:89px;
}